.container3{
    width: 30%;
    float: left;
    height: 53vh;
    background-color: #590004;
    text-align: center;
    padding-top: 22.5%;
}
.container4{
    width: 70%;
    display: inline-block;
    height: 66.7vh;
    background-color: #FCBA04;
    text-align: center;
    padding-top: 15%;
}

.h1take2{
    color: #250001;
    margin: 20px;
}

.usernameInput{
    width: 76%;
    height: 60px;
    border-radius: 30px;
    text-indent: 3%;
    border: none;
    width: 50%;
    margin-bottom: 10px;
}

.emailInput{
    width: 76%;
    height: 60px;
    border-radius: 30px;
    text-indent: 3%;
    border: none;
    width: 50%;
    margin-bottom: 10px;
}

.passwordInput{
    width: 76%;
    height: 60px;
    border-radius: 30px;
    text-indent: 3%;
    border: none;
    width: 50%;
    margin-bottom: 10px;
}

.submitB{
    width: 35%;
    margin: 0px 7.5%;
    height: 60px;
    font-size: large;
    border-radius: 30px;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}